

header.masthead .logo-heading {
  display: flex;
}


header.masthead .logo-heading  img{
  border-radius: 50%;
}

@media only screen and (max-width: 765px) {
  header.masthead .row-wraper {
    flex-flow: column nowrap;
    align-items: center;
  }
}

header.masthead .logo-heading img {
  max-width:  100%;
  height: 200px;
  align-self: center;
}

header.masthead {
  background: no-repeat center center;
  background-image: url("./BackgroundCanvas/demo-1-bg.jpg");
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}


header.masthead .site-heading button {
  align-self: center;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0; 
  } 
}

header.masthead .row-wraper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

header.masthead .page-heading,
header.masthead .site-heading{
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  padding-right: 0.7em;
}
header.masthead .page-heading,
header.masthead .site-heading,
header.masthead .site-heading button {
    align-self: flex-end;
}


header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

header.masthead .logo-header {
  display: flex;
}

/* @media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 5rem; 
  } 
} */
header.masthead .post-heading h1 {
  font-size: 2.4rem; 
}
header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block; 
}
header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}
header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif; 
}
header.masthead .post-heading .meta a {
  color: white; 
}
/* @media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px; 
  }
  
  header.masthead .site-heading button {
    align-self: flex-end;
  }

  header.masthead .post-heading .subheading {
    font-size: 30px; 
  } 
} */