.centered-text {
	text-align: center;
	display: block;
	padding: 20px;
	font-size: 3rem;
	font-weight: 600;
}

hr.divider {
  text-align: center;
  width: 50%;
  left: 25%;
  position: relative;
  margin: 20px;
}


.card-deck {
	margin-bottom: 50px;
}


.carousel {
	display:  flex;
	flex-flow:  row nowrap;
}

.row.carousel-wraper {
	display:  flex;
	justify-content: space-around;
	margin-bottom: 50px;
}



a.left.carousel-control{
	background-image: none;
	left: -20px;
}

a.right.carousel-control{
	background-image: none;
	right: -20px;
}

/* .divider {
	display: block;
	padding: 20px;
  	display:  block;
}

.divider:before{
	position: fixed;
	top: 0;
	left: 0;
  color: gray;
  line-height: 1px;
  height: 1px;
  width:  50%;
} */