.product-card {
	margin: 20px 20px;
	max-width: 200px;
	height: auto;
	display:  inline-block;
	position: relative;
}


div.product-card__title {
	text-align: center;
	display:  block;
	position: absolute;
	paddingp: 2px;
	top: 50%;
	left: -5%;
	line-height: 30px;
	width: 110%;
	background-color: #DC3545;
	color: white;
	font-size: 3rem;
}

.product-card__image img {
	max-width: 200px;
}
