.canvas-button {
	position: absolute;
	padding: 0;
	background-color:  transparent;
	color: black;
	top: 60%;
	left: 73%;
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 3em;
	line-height: 1.33;
	border-radius: 35px;
}

.btn-text{
	position: absolute;
	font-size: 2em;
	margin-top: -57px;
	margin-left: -19px;
	text-align: center;
	color: #fff;
}


.canvas-button:hover {
	background-color: #fff;

	.btn-text {
		color: #000;
	}
}

.meteor-count {
		font-size: 4.5em;
}

.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.canvas-header .large-header {
	background-image: url('./demo-1-bg.jpg');
}

.logo {
	text-align: left;
	top: 10%;
	left: 10%;
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.person{
	top: 5%;
	left: 48%;
	position: absolute;
	margin: 0;
	padding: 0;
	width: 4em;
	height: 4em;
}
.cart{
	text-align: center;
	top: 10%;
	left: 90%;
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 55%;
	left: 50%;

}
.canvas-header .main-title {
	font-size: 2em;
}

@media only screen and (max-width : 1024px) {
	.canvas-header .main-title {
		font-size: 1.2em;
	}

	.canvas-button {
		top: 60%;
		left: 73%;
		width: 40px;
		height: 40px;
		border-radius: 20px;
	}

	.btn-text{

		font-size: 1.2em;
		margin-top: -34px;
		margin-left: -11px;

	}


}

@media only screen and (max-width : 660px) {
	.canvas-header .main-title {
		font-size: 1em;
	}

	.canvas-button {
		top: 60%;
		left: 80%;
		width: 30px;
		height: 30px;
		line-height: 1.33;
		border-radius: 15px;
	}

	.btn-text{

		font-size: 1.2em;
		margin-top: -34px;
		margin-left: -11px;

	}


}
