.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-color: #f1353f;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    left: -100%;
    position: absolute;
    background-color: #f1353f;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #c4151e}

.dropdown:hover .dropdown-content {
    display: block;
}
